
<div
  id="message-<%= message.id %>"
  class="message-container"
  data-controller="message"
  data-message-user-id-value="<%= message.user.id %>">

  <div class="message-box">
    <div class="message-header">
      <span class="message-username"><%= message.user.username %></span>
      <span class="message-timestamp"><%= message.created_at.strftime("%d %b %H:%M") %></span>
    </div>
    <div class="message-content">
      <%= message.content %>
    </div>
  </div>
</div>
