<!-- Fixed bottom navigation bar -->
<nav class="navbar navbar-light bg-white shadow-lg fixed-bottom rounded-pill p-3 mx-3 mb-3">
  <div class="container d-flex justify-content-around">
    <%= link_to fish_index_path, class: "nav-item text-center" do %>
      <i class="fa-solid fa-home fa-2x text-gray-900"></i>
    <% end %>

    <%= link_to questions_path, class: "nav-item text-center" do %>
      <i class="fa-solid fa-search fa-2x text-gray-900"></i>
    <% end %>

    <%= link_to new_user_fish_path, class: "nav-item text-center" do %>
      <i class="fa-solid fa-upload fa-2x text-gray-900"></i>
    <% end %>

    <%= link_to profile_path, class: "nav-item text-center" do %>
      <i class="fa-solid fa-user fa-2x text-gray-900"></i>
    <% end %>

    <%= link_to inbox_path, class: "nav-item text-center" do %>
      <i class="fa-solid fa-comment-dots fa-2x text-gray-900"></i>
    <% end %>
  </div>
</nav>
