<div class="d-flex justify-content-center">
<div class="container" style="max-width: 900px;">

  <h1 class="text-center mb-4">
      <%= action_name == "edit" ? "Edit Your Lovely Fish" : "Update Fish" %>
  </h1>


<%= form_with model: @fish, url: user_fish_path(@fish), method: :patch, local: true, html: { multipart: true } do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :color %>
    <%= f.select :color, ["Purple", "Black", "White", "Green", "Yellow", "Pink", "Red", "Orange", "Blue"], {}, class: "form-control mb-2" %>
  </div>

  <div class="mb-3">
    <%= f.label :length, "Length (cm)" %>
    <%= f.number_field :length, step: 0.1, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :sex %>
    <%= f.select :sex, ["Male", "Female"], {}, class: "form-control mb-2" %>
  </div>

  <div class="mb-3">
    <%= f.check_box :availability %> Available
  </div>

  <div class="mb-3">
    <%= f.label :fish_description %>
    <%= f.text_area :fish_description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :photos %>
    <%= f.file_field :photos, class: "form-control", multiple: true %>
  </div>

  <div class="mt-5 mb-5 text-center">
    <%= f.submit "Update Fish", class: "btn btn-lg", style: "background-color: #2D8BA5; color: white; border: none; border-radius:20px;" %>
  </div>

  <div style="height: 100px;"></div>
<% end %>
</div>
</div>
