<div>
  <div style="text-align: center;">
    <h1>Swuppy the Guppy!</h1>
    <p>Let our guppies make beautiful babies!</p>
  </div>

  <div style="display: flex; justify-content: center;">
  <%= video_tag "swuppytheguppy.mp4", autoplay: true, loop: true, muted: true %>
  </div>

  <div style="text-align: center;">
  <% if user_signed_in? %>
    <p>Welcome, <%= current_user.email %>!</p>
    <%= link_to "Let's go!", class: "primarybutton" %>
    <p><%= button_to "Sign out", destroy_user_session_path, method: :delete %></p>
  <% else %>
    <%= link_to "Log in", user_session_path, class: "primarybutton" %>
    <p>Don't have an account? <%= link_to "Sign up!", new_user_registration_path %></p>
  <% end %>
  </div>
</div>
