<div class= "d-flex justify-content-center">
  <h1>New Match Request</h1>
</div>

<div class="py-3">
  <%= cl_image_tag(@fish.photos.first.key, width: 400, height: 300, crop: :fill, class: "p-3 rounded-img-1") if @fish.photos.any? %>
</div>

<%= simple_form_for [@fish, @match], url: fish_matches_path(@fish), local: true do |f| %>

  <div class="row p-3">
    <div class="col-md-6">
      <%= f.input :start_date, as: :date, label: "Start Date", input_html: { class: "form-control" } %>
    </div>

    <div class="col-md-6">
      <%= f.input :end_date, as: :date, label: "End Date", input_html: { class: "form-control" } %>
    </div>

    <div class="col-12">
      <div class="message-input mt-3">
        <%= f.fields_for :messages do |msg_form| %>
          <%= msg_form.input :content, as: :text, label: "Write a message", input_html: { class: "form-control", rows: 4, placeholder: "Enter your message..." } %>
          <%= msg_form.input :user_id, as: :hidden, input_html: { value: current_user.id }%>
        <% end %>
     </div>
    </div>

    <div class="d-flex justify-content-center pt-4">
     <%= f.submit "Create Match", class: "btn btn-primary btn-lg" %>
   </div>

  </div>

<% end %>
