<nav class="indexnav">
  <div class="container-fluid">

    <div class="dropdown ms-1" data-controller="filter">
  <%= link_to "#", class: "filter-link", data: { action: "click->filter#toggle" } do %>
    <%= image_tag "other_pics/filter-icon.jpg", alt: "Filter", class: "filter-image" %>
  <% end %>

  <div class="dropdown-menu p-3 filter-dropdown" style= "width: calc(100vw - 80px)" data-filter-target="dropdown" >
    <%= simple_form_for :search, url: fish_index_path, method: :get, html: { class: "simple_form" } do |f| %>
      <div class="mb-2">
        <%= f.input :color, collection: Fish.distinct.pluck(:color), include_blank: "All", label: "Color", selected: @filters[:color], input_html: { class: "form-control" } %>
      </div>

      <div class="mb-2">
        <%= f.input :sex, collection: ['male', 'female'], include_blank: "All", label: "Sex", selected: @filters[:sex],  input_html: { class: "form-control" } %>
      </div>

      <div class="mb-2">
        <%= f.input :length, as: :float, label: "Min. length (cm)", input_html: { class: "form-control", style: "width: calc(100vw - 200px)"} %>
      </div>

      <div class="mb-2">
        <%= f.input :availability, collection: [["available", true], ["unavailable", false]], include_blank: "All", label: "Availability", selected: @filters[:availability], input_html: { class: "form-control" } %>
      </div>

      <%= f.button :submit, "Apply filter", class: "primarybutton btn-sm w-100 mt-2" %>
    <% end %>
    </div>
   </div>


      <!-- Location Dropdown (Stimulus Controlled) -->
              <div class="dropdown ms-auto">
        <div class="location-dropdown">
          <%= link_to "/map", class: "no-underline?" do %>
            <i class="fa-solid fa-map-location-dot" style="color: #2d8ba5; font-size: 30px;"></i>
          <% end %>
        </div>
      </div>




  </div>
</nav>


<div class="d-flex justify-content-center py-2">
  <h2 class="text-center">Single guppies nearby</h2>
</div>

<div class="fish-container py-3" style="background:#94D2E3; border-radius:18px;">
  <div class="row justify-content-center g-3">
    <% @fish.each do |fish| %>
      <% if fish.photos.any? %>
        <div class="col-6 px-2" style="max-width: 210px;">
          <div class="item text-center"
               style="background:#2d8ba5; border-radius:14px;  width:100%;">
            <h5 style="color:#fff; font-weight:700; margin:10px; line-height:1;"><%= fish.name %></h5>
            <%= link_to fish_path(fish) do %>
              <%= cl_image_tag(fish.photos.first.key, height: 120, width: 190, crop: :fill, gravity: :auto, class: "rounded img-fluid", style: "border-radius:10px; margin:0; display:block;" ) %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div style="height:100px;"></div>
