<% @fish.each do |fish| %>

<p><%= fish.fish_description %></p>


<% end %>


<div class="container">
    <div class="item"><%= image_tag "fish_pics/1.jpg" %></div>
    <div class="item"><%= image_tag "fish_pics/2.jpg" %></div>
    <div class="item"><%= image_tag "fish_pics/3.jpg" %></div>
    <div class="item"><%= image_tag "fish_pics/4.jpg" %></div>
</div>
