<nav class="indexnav">
  <div class="container-fluid">

    <!-- Location Dropdown (Stimulus Controlled) -->
    <div class="dropdown" data-controller="dropdown">
      <div class="location-dropdown" data-action="click->dropdown#toggle">
        Barcelona ˅
      </div>
      <div data-dropdown-target="menu" class="dropdown-content hidden">
        <%= link_to "Barcelona", "" %>
        <%= link_to "Madrid", "" %>
        <%= link_to "Seville", "" %>
        <%= link_to "Valencia", "" %>
      </div>
    </div>

    <!-- Filter Button (Aligned Right) -->
    <div class="ms-auto">
      <%= link_to "#", class: "filter-link" do %>
        <%= image_tag "other_pics/filter-icon.jpg", alt: "Filter", class: "filter-image" %>
      <% end %>
    </div>

  </div>
</nav>


<div class="d-flex justify-content-center py-3">
  <h3 class="text-center">Single guppies in your area</h3>
</div>



<div class="fish-container py-3">
  <% @fish.each do |fish| %>
    <% if fish.photos.any? %>
      <div class="item">
        <h2 class="fish-name"><%= fish.name %></h2>
        <%= link_to cl_image_tag(fish.photos.first.key, class: "rounded-fish", height: 200, width: 275, crop: :fill), fish_path(fish) %>
      </div>
    <% end %>
  <% end %>
</div>
<div style="height: 100px;"></div>
