<nav class="indexnav">
  <div class="container-fluid">

    <!-- Location Dropdown (Stimulus Controlled) -->
    <div class="dropdown" data-controller="dropdown">
      <div class="location-dropdown" data-action="click->dropdown#toggle">
        Barcelona ˅
      </div>
      <div data-dropdown-target="menu" class="dropdown-content hidden">
        <%= link_to "Barcelona", "" %>
        <%= link_to "Madrid", "" %>
        <%= link_to "Seville", "" %>
        <%= link_to "Valencia", "" %>
      </div>
    </div>

    <!-- Filter Button (Aligned Right) -->
    <div class="ms-auto">
      <%= link_to "#", class: "filter-link" do %>
        <%= image_tag "other_pics/filter-icon.jpg", alt: "Filter", class: "filter-image" %>
      <% end %>
    </div>

  </div>
</nav>

<h5>Single guppies in you area</h5>



<div class="container">
  <% @fish.each do |fish| %>
    <% if fish.photos.any? %>
      <div class="item">
        <%= link_to cl_image_tag(fish.photos.first.key, height: 300, width: 400, crop: :fill), fish_path(fish) %>
      </div>
    <% end %>
  <% end %>
</div>
