<nav class="indexnav">
  <div class="container-fluid">

    <div class="dropdown ms-1" data-controller="filter">
  <%= link_to "#", class: "filter-link", data: { action: "click->filter#toggle" } do %>
    <%= image_tag "other_pics/filter-icon.jpg", alt: "Filter", class: "filter-image" %>
  <% end %>

  <div class="dropdown-menu p-3 filter-dropdown" data-filter-target="dropdown">
    <%= simple_form_for :search, url: fish_index_path, method: :get, html: { class: "simple_form" } do |f| %>

      <div class="mb-2">
        <%= f.input :color, collection: Fish.distinct.pluck(:color), include_blank: "All", label: "Color", selected: @filters[:color], input_html: { class: "form-control" } %>
      </div>

      <div class="mb-2">
        <%= f.input :sex, collection: ['Male', 'Female'], include_blank: "All", label: "Sex", selected: @filters[:sex],  input_html: { class: "form-control" } %>
      </div>

      <div class="mb-2">
        <%= f.input :length, as: :float, label: "Min Length", input_html: { class: "form-control" } %>
      </div>

      <div class="mb-2">
        <%= f.input :availability, collection: [["Available", true], ["Unavailable", false]], include_blank: "All", label: "Availability", selected: @filters[:availability], input_html: { class: "form-control" } %>
      </div>

      <%= f.button :submit, "Apply Filter", class: "btn btn-primary btn-sm w-100 mt-2" %>
    <% end %>
    </div>
   </div>


      <!-- Location Dropdown (Stimulus Controlled) -->
    <div class="dropdown ms-auto">
      <div class="location-dropdown">
        <%= link_to "View on map ˅", "/map", class:"no-underline?" %>
      </div>

    </div>


  </div>
</nav>


<div class="d-flex justify-content-center py-3">
  <h2 class="text-center">Single guppies in your area</h2>
</div>



<div class="fish-container py-3 d-flex flex-wrap gap-3 justify-content-center">
  <% @fish.each do |fish| %>
    <% if fish.photos.any? %>
      <div class="item text-center">
        <h5 class="fish-name"><%= fish.name %></h5>
        <%= link_to fish_path(fish) do %>
          <%= cl_image_tag(fish.photos.first.key, height: 300, width: 550, crop: :fill, gravity: :auto, class: "rounded-fish") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div style="height: 100px;"></div>
